{% extends 'users/base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h2 class="card-title mb-4">Verify Your Email</h2>
                    <p>A verification link has been sent to your email. Click the link to verify your account.</p>
                    <form method="post">
                        {% csrf_token %}
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">I’ve Clicked the Link</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}